<div class="latest-reviews">
  {% comment %} Placeholder: display newest 3 reviews {% endcomment %}
  {% for review in shop.metafields.reviews.latest | slice: 0, 3 %}
    <blockquote>{{ review }}</blockquote>
  {% endfor %}
</div>
